<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GroupDocs.Viewer for Java Micronaut</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
<client-root></client-root>
<script src="/static/runtime-es2015.js"></script>
<script src="/static/polyfills-es2015.js"></script>
<script src="/static/runtime-es5.js"></script>
<script src="/static/polyfills-es5.js"></script>
<script src="/static/styles-es2015.js"></script>
<script src="/static/styles-es5.js"></script>
<script src="/static/vendor-es2015.js"></script>
<script src="/static/main-es2015.js"></script>
<script src="/static/vendor-es5.js"></script>
<script src="/static/main-es5.js"></script>
</body>
</html>
