sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.pg3-otF3CKG8-view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg3-otF3CKG8-01 {
	position: absolute;
	white-space: nowrap;
}
.pg3-otF3CKG8-02 {
	height: 66em;
	width: 51em;
	margin: 0em;
	line-height: 0.0em;
	border-style: none;
	font-size: 1em;
	display: block;
}

@supports(-ms-ime-align:auto) { .pg3-otF3CKG8-02 {width: auto; overflow: hidden;}}
.pg3-otF3CKG8-03 {
	position: relative;
}
.pg3-otF3CKG8-04 {
	position: absolute;
	pointer-events: none;
	width: 100%;
	clip: rect(2.055033em,47.86766em,52.76894em,3.072503em);
}
.pg3-otF3CKG8-05 {
	position: relative;
	width: 51em;
}
.pg3-otF3CKG8-06 {
	height: 6.6em;
}
.ie .pg3-otF3CKG8-06 {
	height: 66em;
}
@font-face {
	font-family:"WFGVEP+Times-Roman";
	src:url("D:\GitRepos\GroupDocs.Viewer-for-Java\Examples\GroupDocs.Viewer.Examples.Java\Data\temp\sample_pdf\html\pdf-options-4\resources\page3\8ed34714-0000-0000-0000-000000000000.woff") format("woff");
}
.pg3-otF3CKG8-07 {
	line-height: 1.21707em;
	font-size: 1em;
	font-family: "WFGVEP+Times-Roman", "Times New Roman";
	color: #000000;
}
.pg3-otF3CKG8-08 {
	letter-spacing: -0.01em;
}
@font-face {
	font-family:"DIAPTQ+Times-Italic";
	src:url("D:\GitRepos\GroupDocs.Viewer-for-Java\Examples\GroupDocs.Viewer.Examples.Java\Data\temp\sample_pdf\html\pdf-options-4\resources\page3\3ede2931-0000-0000-0000-000000000000.woff") format("woff");
}
.pg3-otF3CKG8-09 {
	line-height: 1.20596em;
	font-size: 1em;
	font-family: "DIAPTQ+Times-Italic", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"HEORPM+Times-Bold";
	src:url("D:\GitRepos\GroupDocs.Viewer-for-Java\Examples\GroupDocs.Viewer.Examples.Java\Data\temp\sample_pdf\html\pdf-options-4\resources\page3\4459a99a-0000-0000-0000-000000000000.woff") format("woff");
}
.pg3-otF3CKG8-10 {
	line-height: 1.314031em;
	font-size: 1em;
	font-family: "HEORPM+Times-Bold", "Times New Roman";
	color: #000000;
}
.pg3-otF3CKG8-11 {
	line-height: 1.309614em;
	font-size: 1.5em;
	font-family: "HEORPM+Times-Bold", "Times New Roman";
	color: #000000;
}
.pg3-otF3CKG8-12 {
	letter-spacing: 0em;
}
