sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.pg2-mVEAvT3x-view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg2-mVEAvT3x-01 {
	position: absolute;
	white-space: nowrap;
}
.pg2-mVEAvT3x-02 {
	height: 66em;
	width: 51em;
	margin: 0em;
	line-height: 0.0em;
	border-style: none;
	font-size: 1em;
	display: block;
}

@supports(-ms-ime-align:auto) { .pg2-mVEAvT3x-02 {width: auto; overflow: hidden;}}
.pg2-mVEAvT3x-03 {
	position: relative;
}
.pg2-mVEAvT3x-04 {
	position: absolute;
	pointer-events: none;
	width: 100%;
	clip: rect(-0.036067em,47.86766em,52.76894em,3.072503em);
}
.pg2-mVEAvT3x-05 {
	position: relative;
	width: 51em;
}
.pg2-mVEAvT3x-06 {
	height: 6.6em;
}
.ie .pg2-mVEAvT3x-06 {
	height: 66em;
}
@font-face {
	font-family:"AUKVOB+Times-Bold";
	src:url("D:\GitRepos\GroupDocs.Viewer-for-Java\Examples\GroupDocs.Viewer.Examples.Java\Data\temp\sample_pdf\html\pdf-options-4\resources\page2\05b6d165-0000-0000-0000-000000000000.woff") format("woff");
}
.pg2-mVEAvT3x-07 {
	line-height: 1.307428em;
	font-size: 2em;
	font-family: "AUKVOB+Times-Bold", "Times New Roman";
	color: #000000;
}
.pg2-mVEAvT3x-08 {
	letter-spacing: 0em;
}
.pg2-mVEAvT3x-09 {
	letter-spacing: -0.01em;
}
@font-face {
	font-family:"RGVQVD+Times-Roman";
	src:url("D:\GitRepos\GroupDocs.Viewer-for-Java\Examples\GroupDocs.Viewer.Examples.Java\Data\temp\sample_pdf\html\pdf-options-4\resources\page2\507cbcc9-0000-0000-0000-000000000000.woff") format("woff");
}
.pg2-mVEAvT3x-10 {
	line-height: 1.21707em;
	font-size: 1em;
	font-family: "RGVQVD+Times-Roman", "Times New Roman";
	color: #000000;
}
.pg2-mVEAvT3x-11 {
	line-height: 1.314031em;
	font-size: 1em;
	font-family: "AUKVOB+Times-Bold", "Times New Roman";
	color: #000000;
}
.pg2-mVEAvT3x-12 {
	line-height: 1.309614em;
	font-size: 1.5em;
	font-family: "AUKVOB+Times-Bold", "Times New Roman";
	color: #000000;
}
.pg2-mVEAvT3x-13 {
	letter-spacing: -0.02em;
}
@font-face {
	font-family:"BFUOWD+Times-Italic";
	src:url("D:\GitRepos\GroupDocs.Viewer-for-Java\Examples\GroupDocs.Viewer.Examples.Java\Data\temp\sample_pdf\html\pdf-options-4\resources\page2\56d63b37-0000-0000-0000-000000000000.woff") format("woff");
}
.pg2-mVEAvT3x-14 {
	line-height: 1.20596em;
	font-size: 1em;
	font-family: "BFUOWD+Times-Italic", "Times New Roman";
	color: #000000;
}
