sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.p1-HqZk2NC8-view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.p1-HqZk2NC8-01 {
	position: absolute;
	white-space: nowrap;
}
.p1-HqZk2NC8-02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 51em;
	height: 66em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .p1-HqZk2NC8-02 {overflow: hidden;}}
.p1-HqZk2NC8-03 {
	position: relative;
}
.p1-HqZk2NC8-04 {
	position: absolute;
	pointer-events: none;
	clip: rect(-0.041667em,51.04167em,66.04166em,-0.041667em);
	width: 100%;
}
.p1-HqZk2NC8-05 {
	position: relative;
	width: 51em;
}
.p1-HqZk2NC8-06 {
	height: 6.6em;
}
.ie .p1-HqZk2NC8-06 {
	height: 66em;
}
.p1-HqZk2NC8-07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.p1-HqZk2NC8-08 {
	line-height: 1.117188em;
}
.p1-HqZk2NC8-09 {
	letter-spacing: 0em;
}

.ie .p1-HqZk2NC8-09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"BFBNLC+Arial Bold";
	src:url("p_1_f.woff") format("woff");
}
.p1-HqZk2NC8-10 {
	font-size: 0.875em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-11 {
	letter-spacing: 0.0013em;
}

.ie .p1-HqZk2NC8-11 {
	letter-spacing: 0.0181px;
}
.p1-HqZk2NC8-12 {
	font-size: 0.957338em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-13 {
	letter-spacing: -0.0028em;
}

.ie .p1-HqZk2NC8-13 {
	letter-spacing: -0.0427px;
}
.p1-HqZk2NC8-14 {
	-o-transform: scale(1,0.9317928);
	-webkit-transform: scale(1,0.9317928);
	-moz-transform: scale(1,0.9317928);
	transform: scale(1,0.9317928);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9317928,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-15 {
	font-size: 0.93905em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-16 {
	letter-spacing: -0.0026em;
}

.ie .p1-HqZk2NC8-16 {
	letter-spacing: -0.0395px;
}
.p1-HqZk2NC8-17 {
	font-size: 0.932663em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-18 {
	letter-spacing: 0.0002em;
}

.ie .p1-HqZk2NC8-18 {
	letter-spacing: 0.0024px;
}
.p1-HqZk2NC8-19 {
	font-size: 0.930738em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-20 {
	letter-spacing: -0.0035em;
}

.ie .p1-HqZk2NC8-20 {
	letter-spacing: -0.0525px;
}
.p1-HqZk2NC8-21 {
	-o-transform: scale(1,1.003996);
	-webkit-transform: scale(1,1.003996);
	-moz-transform: scale(1,1.003996);
	transform: scale(1,1.003996);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.003996,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-22 {
	font-size: 1.162023em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-23 {
	letter-spacing: -0.0018em;
}

.ie .p1-HqZk2NC8-23 {
	letter-spacing: -0.0337px;
}
.p1-HqZk2NC8-24 {
	-o-transform: scale(1,1.01747);
	-webkit-transform: scale(1,1.01747);
	-moz-transform: scale(1,1.01747);
	transform: scale(1,1.01747);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.01747,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"NICNLB+Arial";
	src:url("p_1_f1.woff") format("woff");
}
.p1-HqZk2NC8-25 {
	font-size: 0.819025em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-26 {
	-o-transform: scale(1,1.168429);
	-webkit-transform: scale(1,1.168429);
	-moz-transform: scale(1,1.168429);
	transform: scale(1,1.168429);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.168429,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-27 {
	font-size: 0.713208em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-28 {
	font-size: 0.816617em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-29 {
	letter-spacing: -0.0001em;
}

.ie .p1-HqZk2NC8-29 {
	letter-spacing: -0.0013px;
}
.p1-HqZk2NC8-30 {
	font-size: 0.863417em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-31 {
	line-height: 1.117187em;
}
.p1-HqZk2NC8-32 {
	letter-spacing: -0.0002em;
}

.ie .p1-HqZk2NC8-32 {
	letter-spacing: -0.0021px;
}
.p1-HqZk2NC8-33 {
	font-size: 0.817033em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-34 {
	letter-spacing: -0.0009em;
}

.ie .p1-HqZk2NC8-34 {
	letter-spacing: -0.0119px;
}
.p1-HqZk2NC8-35 {
	font-size: 0.693542em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-36 {
	font-size: 0.822425em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-37 {
	letter-spacing: -0.0015em;
}

.ie .p1-HqZk2NC8-37 {
	letter-spacing: -0.0197px;
}
.p1-HqZk2NC8-38 {
	font-size: 0.858417em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-39 {
	font-size: 0.818283em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-40 {
	font-size: 0.82225em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-41 {
	font-size: 0.811825em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-42 {
	font-size: 0.828525em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-43 {
	letter-spacing: -0.0025em;
}

.ie .p1-HqZk2NC8-43 {
	letter-spacing: -0.0335px;
}
.p1-HqZk2NC8-44 {
	font-size: 0.82555em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-45 {
	letter-spacing: -0.002em;
}

.ie .p1-HqZk2NC8-45 {
	letter-spacing: -0.027px;
}
.p1-HqZk2NC8-46 {
	font-size: 1.452em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-47 {
	font-size: 0.81805em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-48 {
	-o-transform: scale(1,1.031513);
	-webkit-transform: scale(1,1.031513);
	-moz-transform: scale(1,1.031513);
	transform: scale(1,1.031513);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.031513,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-49 {
	font-size: 0.807875em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-50 {
	font-size: 0.822592em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-51 {
	font-size: 0.820258em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-52 {
	font-size: 0.815875em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-53 {
	-o-transform: scale(1,1.01527);
	-webkit-transform: scale(1,1.01527);
	-moz-transform: scale(1,1.01527);
	transform: scale(1,1.01527);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.01527,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-54 {
	font-size: 0.8208em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-55 {
	font-size: 0.824467em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-56 {
	font-size: 0.765375em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-57 {
	font-size: 0.800542em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-58 {
	font-size: 0.774083em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-59 {
	font-size: 0.829983em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-60 {
	font-size: 0.819892em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-61 {
	font-size: 0.832em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-62 {
	font-size: 0.83925em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-63 {
	font-size: 0.782825em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-64 {
	letter-spacing: -0.003em;
}

.ie .p1-HqZk2NC8-64 {
	letter-spacing: -0.0376px;
}
.p1-HqZk2NC8-65 {
	font-size: 0.719692em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-66 {
	letter-spacing: -0.0033em;
}

.ie .p1-HqZk2NC8-66 {
	letter-spacing: -0.0376px;
}
.p1-HqZk2NC8-67 {
	-o-transform: scale(1,2.291686);
	-webkit-transform: scale(1,2.291686);
	-moz-transform: scale(1,2.291686);
	transform: scale(1,2.291686);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,2.291686,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-68 {
	font-size: 0.363633em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-69 {
	font-size: 0.833333em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-70 {
	font-size: 0.803567em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-71 {
	letter-spacing: -0.0021em;
}

.ie .p1-HqZk2NC8-71 {
	letter-spacing: -0.0273px;
}
.p1-HqZk2NC8-72 {
	font-size: 0.818592em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-73 {
	font-size: 0.81325em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-74 {
	font-size: 0.815567em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-75 {
	letter-spacing: -0.0011em;
}

.ie .p1-HqZk2NC8-75 {
	letter-spacing: -0.0139px;
}
.p1-HqZk2NC8-76 {
	font-size: 0.785783em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-77 {
	font-size: 0.770142em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-78 {
	font-size: 0.812442em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-79 {
	letter-spacing: -0.0016em;
}

.ie .p1-HqZk2NC8-79 {
	letter-spacing: -0.0208px;
}
.p1-HqZk2NC8-80 {
	font-size: 0.789883em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-81 {
	font-size: 0.7926em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-82 {
	font-size: 0.824183em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-83 {
	font-size: 0.80005em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-84 {
	-o-transform: scale(1,0.9878494);
	-webkit-transform: scale(1,0.9878494);
	-moz-transform: scale(1,0.9878494);
	transform: scale(1,0.9878494);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9878494,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-85 {
	font-size: 0.843583em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-86 {
	-o-transform: scale(1,1.896562);
	-webkit-transform: scale(1,1.896562);
	-moz-transform: scale(1,1.896562);
	transform: scale(1,1.896562);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.896562,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-87 {
	font-size: 0.439392em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-88 {
	-o-transform: scale(1,1.003381);
	-webkit-transform: scale(1,1.003381);
	-moz-transform: scale(1,1.003381);
	transform: scale(1,1.003381);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.003381,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-89 {
	font-size: 0.830525em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-90 {
	font-size: 0.823433em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-91 {
	letter-spacing: -0.0023em;
}

.ie .p1-HqZk2NC8-91 {
	letter-spacing: -0.0299px;
}
.p1-HqZk2NC8-92 {
	font-size: 0.809633em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-93 {
	letter-spacing: 0.0001em;
}

.ie .p1-HqZk2NC8-93 {
	letter-spacing: 0.0009px;
}
.p1-HqZk2NC8-94 {
	font-size: 0.795692em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-95 {
	font-size: 0.73795em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-96 {
	font-size: 0.793008em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-97 {
	font-size: 0.811225em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-98 {
	font-size: 0.822975em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-99 {
	font-size: 0.822458em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-100 {
	font-size: 0.827992em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-101 {
	font-size: 0.8023em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-102 {
	font-size: 0.833333em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-103 {
	font-size: 0.828508em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-104 {
	font-size: 0.820342em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-105 {
	letter-spacing: -0.0017em;
}

.ie .p1-HqZk2NC8-105 {
	letter-spacing: -0.0223px;
}
.p1-HqZk2NC8-106 {
	font-size: 0.815033em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-107 {
	font-size: 0.817008em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-108 {
	font-size: 0.817833em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-109 {
	font-size: 0.841667em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-110 {
	font-size: 0.820917em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-111 {
	letter-spacing: -0.0024em;
}

.ie .p1-HqZk2NC8-111 {
	letter-spacing: -0.0313px;
}
.p1-HqZk2NC8-112 {
	font-size: 0.819633em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-113 {
	font-size: 0.811558em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-114 {
	-o-transform: scale(1,0.9795278);
	-webkit-transform: scale(1,0.9795278);
	-moz-transform: scale(1,0.9795278);
	transform: scale(1,0.9795278);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9795278,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-115 {
	font-size: 0.85075em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-116 {
	font-size: 0.863583em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-117 {
	font-size: 0.5em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-118 {
	font-size: 0.81775em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-119 {
	font-size: 0.829333em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-120 {
	font-size: 0.836167em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-121 {
	font-size: 0.819158em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-122 {
	font-size: 0.836667em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-123 {
	letter-spacing: -0.0027em;
}

.ie .p1-HqZk2NC8-123 {
	letter-spacing: -0.0363px;
}
.p1-HqZk2NC8-124 {
	font-size: 0.82895em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-125 {
	font-size: 0.825992em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-126 {
	font-size: 0.807292em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-127 {
	letter-spacing: -0.0013em;
}

.ie .p1-HqZk2NC8-127 {
	letter-spacing: -0.0168px;
}
.p1-HqZk2NC8-128 {
	font-size: 0.805933em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-129 {
	-o-transform: scale(1,1.024569);
	-webkit-transform: scale(1,1.024569);
	-moz-transform: scale(1,1.024569);
	transform: scale(1,1.024569);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.024569,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-130 {
	font-size: 0.81335em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-131 {
	letter-spacing: -0.0022em;
}

.ie .p1-HqZk2NC8-131 {
	letter-spacing: -0.0288px;
}
.p1-HqZk2NC8-132 {
	font-size: 0.804933em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-133 {
	font-size: 0.823517em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-134 {
	font-size: 0.823592em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-135 {
	font-size: 0.811825em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-136 {
	font-size: 0.827133em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-137 {
	letter-spacing: -0.0014em;
}

.ie .p1-HqZk2NC8-137 {
	letter-spacing: -0.0191px;
}
.p1-HqZk2NC8-138 {
	font-size: 0.8122em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-139 {
	font-size: 0.8375em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-140 {
	font-size: 0.835167em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-141 {
	letter-spacing: -0.0031em;
}

.ie .p1-HqZk2NC8-141 {
	letter-spacing: -0.042px;
}
.p1-HqZk2NC8-142 {
	font-size: 0.826875em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-143 {
	letter-spacing: -0.0012em;
}

.ie .p1-HqZk2NC8-143 {
	letter-spacing: -0.0164px;
}
.p1-HqZk2NC8-144 {
	font-size: 0.801142em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-145 {
	font-size: 0.814508em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-146 {
	font-size: 0.809108em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-147 {
	-o-transform: scale(1,0.9854159);
	-webkit-transform: scale(1,0.9854159);
	-moz-transform: scale(1,0.9854159);
	transform: scale(1,0.9854159);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9854159,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-148 {
	font-size: 0.845667em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-149 {
	font-size: 0.829092em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-150 {
	font-size: 0.828675em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-151 {
	letter-spacing: -0.0029em;
}

.ie .p1-HqZk2NC8-151 {
	letter-spacing: -0.0389px;
}
.p1-HqZk2NC8-152 {
	font-size: 0.823167em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-153 {
	font-size: 0.823033em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-154 {
	font-size: 0.822717em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-155 {
	font-size: 0.816575em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-156 {
	font-size: 0.824833em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-157 {
	-o-transform: scale(1,1.010305);
	-webkit-transform: scale(1,1.010305);
	-moz-transform: scale(1,1.010305);
	transform: scale(1,1.010305);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.010305,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-158 {
	font-size: 0.81805em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-159 {
	font-size: 0.820033em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-160 {
	font-size: 0.810083em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-161 {
	font-size: 0.825133em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-162 {
	font-size: 0.820392em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-163 {
	font-size: 0.823583em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-164 {
	font-size: 0.8289em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-165 {
	font-size: 0.815967em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-166 {
	font-size: 0.838667em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-167 {
	font-size: 0.829142em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-168 {
	font-size: 0.824967em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-169 {
	font-size: 0.823783em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-170 {
	font-size: 0.82015em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-171 {
	letter-spacing: -0.0055em;
}

.ie .p1-HqZk2NC8-171 {
	letter-spacing: -0.0735px;
}
.p1-HqZk2NC8-172 {
	font-size: 0.813308em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-173 {
	letter-spacing: -0.0019em;
}

.ie .p1-HqZk2NC8-173 {
	letter-spacing: -0.0247px;
}
.p1-HqZk2NC8-174 {
	font-size: 0.814533em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-175 {
	font-size: 0.8033em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-176 {
	font-size: 0.814492em;
	font-family: "BFBNLC+Arial Bold";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-177 {
	-o-transform: scale(1,1.202906);
	-webkit-transform: scale(1,1.202906);
	-moz-transform: scale(1,1.202906);
	transform: scale(1,1.202906);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.202906,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-178 {
	font-size: 0.692767em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-179 {
	font-size: 0.801142em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-180 {
	font-size: 0.839583em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-181 {
	font-size: 0.778892em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-182 {
	font-size: 0.799758em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-183 {
	font-size: 0.814717em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-184 {
	font-size: 0.824233em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-185 {
	font-size: 0.775775em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-186 {
	font-size: 0.80625em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-187 {
	font-size: 0.819967em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-188 {
	font-size: 0.807433em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-189 {
	font-size: 0.801858em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-190 {
	-o-transform: scale(1,1.092108);
	-webkit-transform: scale(1,1.092108);
	-moz-transform: scale(1,1.092108);
	transform: scale(1,1.092108);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.092108,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-191 {
	font-size: 0.76305em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-192 {
	font-size: 0.776392em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-193 {
	font-size: 0.801733em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-194 {
	font-size: 0.812833em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-195 {
	font-size: 0.78815em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-196 {
	font-size: 0.815275em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-197 {
	font-size: 0.827192em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-198 {
	font-size: 0.821425em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-199 {
	font-size: 0.816325em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-200 {
	font-size: 0.804975em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-201 {
	font-size: 0.814533em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-202 {
	font-size: 0.809908em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-203 {
	font-size: 0.854833em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-204 {
	font-size: 0.75075em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-205 {
	font-size: 0.822317em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-206 {
	-o-transform: scale(1,1.037441);
	-webkit-transform: scale(1,1.037441);
	-moz-transform: scale(1,1.037441);
	transform: scale(1,1.037441);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.037441,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-207 {
	font-size: 0.803258em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-208 {
	-o-transform: scale(1,1.129254);
	-webkit-transform: scale(1,1.129254);
	-moz-transform: scale(1,1.129254);
	transform: scale(1,1.129254);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.129254,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-209 {
	font-size: 0.73795em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-210 {
	font-size: 0.7882em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-211 {
	font-size: 0.80555em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-212 {
	font-size: 0.831175em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-213 {
	font-size: 0.81395em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-214 {
	font-size: 0.814792em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-215 {
	font-size: 0.850833em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-216 {
	font-size: 0.821025em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-217 {
	font-size: 0.812333em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-218 {
	font-size: 0.8201em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-219 {
	font-size: 0.852083em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-220 {
	font-size: 0.832367em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-221 {
	font-size: 0.810092em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-222 {
	font-size: 0.821775em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-223 {
	font-size: 0.815117em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-224 {
	font-size: 0.8375em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-225 {
	font-size: 0.811667em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-226 {
	font-size: 0.773267em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-227 {
	font-size: 0.8114em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-228 {
	font-size: 0.821642em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-229 {
	letter-spacing: -0.0032em;
}

.ie .p1-HqZk2NC8-229 {
	letter-spacing: -0.0426px;
}
.p1-HqZk2NC8-230 {
	font-size: 0.818675em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-231 {
	font-size: 0.817642em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-232 {
	font-size: 0.822275em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-233 {
	font-size: 0.75795em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-234 {
	font-size: 0.817608em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-235 {
	font-size: 0.821017em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-236 {
	font-size: 0.816708em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-237 {
	font-size: 0.780275em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-238 {
	font-size: 0.81685em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-239 {
	font-size: 0.827758em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-240 {
	font-size: 0.666667em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-241 {
	-o-transform: scale(1,1.011767);
	-webkit-transform: scale(1,1.011767);
	-moz-transform: scale(1,1.011767);
	transform: scale(1,1.011767);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.011767,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-242 {
	font-size: 0.823642em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-243 {
	font-size: 0.787442em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-244 {
	font-size: 0.823075em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-245 {
	font-size: 0.825408em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-246 {
	font-size: 0.818483em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-247 {
	font-size: 0.824883em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-248 {
	font-size: 0.825792em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-249 {
	-o-transform: scale(1,1.009133);
	-webkit-transform: scale(1,1.009133);
	-moz-transform: scale(1,1.009133);
	transform: scale(1,1.009133);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.009133,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-250 {
	font-size: 0.818108em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-251 {
	font-size: 0.788225em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-252 {
	-o-transform: scale(1,1.073341);
	-webkit-transform: scale(1,1.073341);
	-moz-transform: scale(1,1.073341);
	transform: scale(1,1.073341);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.073341,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-253 {
	font-size: 0.815542em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-254 {
	font-size: 0.80825em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-255 {
	font-size: 0.824358em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-256 {
	font-size: 0.826325em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-257 {
	font-size: 0.8133em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-258 {
	font-size: 0.816967em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-259 {
	font-size: 0.818908em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-260 {
	font-size: 0.815217em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-261 {
	font-size: 0.776417em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-262 {
	font-size: 0.808817em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-263 {
	font-size: 0.804217em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-264 {
	font-size: 0.816467em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-265 {
	font-size: 0.821083em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-266 {
	font-size: 0.831492em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-267 {
	font-size: 0.820792em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-268 {
	-o-transform: scale(1,1.156257);
	-webkit-transform: scale(1,1.156257);
	-moz-transform: scale(1,1.156257);
	transform: scale(1,1.156257);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.156257,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-269 {
	font-size: 0.720717em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-270 {
	font-size: 0.810158em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-271 {
	font-size: 0.823083em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-272 {
	font-size: 0.788283em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-273 {
	font-size: 0.829633em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-274 {
	font-size: 0.863583em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-275 {
	font-size: 0.809333em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-276 {
	-o-transform: scale(1,1.017967);
	-webkit-transform: scale(1,1.017967);
	-moz-transform: scale(1,1.017967);
	transform: scale(1,1.017967);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.017967,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-277 {
	font-size: 0.818625em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-278 {
	-o-transform: scale(1,1.043384);
	-webkit-transform: scale(1,1.043384);
	-moz-transform: scale(1,1.043384);
	transform: scale(1,1.043384);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.043384,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-279 {
	font-size: 0.798683em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-280 {
	font-size: 0.811858em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-281 {
	font-size: 0.84625em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-282 {
	font-size: 0.821408em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-283 {
	font-size: 0.803733em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-284 {
	font-size: 0.828625em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-285 {
	font-size: 0.768067em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-286 {
	font-size: 0.793167em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-287 {
	font-size: 0.829958em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-288 {
	font-size: 0.823925em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-289 {
	font-size: 0.823417em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-290 {
	font-size: 0.81045em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-291 {
	-o-transform: scale(1,1.021398);
	-webkit-transform: scale(1,1.021398);
	-moz-transform: scale(1,1.021398);
	transform: scale(1,1.021398);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.021398,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-292 {
	font-size: 0.801658em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-293 {
	letter-spacing: -0.004em;
}

.ie .p1-HqZk2NC8-293 {
	letter-spacing: -0.054px;
}
.p1-HqZk2NC8-294 {
	font-size: 0.84175em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-295 {
	-o-transform: scale(1,1.015878);
	-webkit-transform: scale(1,1.015878);
	-moz-transform: scale(1,1.015878);
	transform: scale(1,1.015878);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.015878,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-296 {
	font-size: 0.820308em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-297 {
	font-size: 0.82605em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-298 {
	font-size: 0.800175em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-299 {
	font-size: 0.816217em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-300 {
	font-size: 0.720425em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-301 {
	font-size: 0.826558em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-302 {
	font-size: 0.776942em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-303 {
	-o-transform: scale(1,1.018984);
	-webkit-transform: scale(1,1.018984);
	-moz-transform: scale(1,1.018984);
	transform: scale(1,1.018984);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.018984,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-304 {
	font-size: 0.817808em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-305 {
	font-size: 0.688167em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-306 {
	font-size: 0.808233em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-307 {
	font-size: 0.813033em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-308 {
	font-size: 0.818267em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-309 {
	font-size: 0.840667em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-310 {
	font-size: 0.829375em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-311 {
	font-size: 0.818508em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-312 {
	font-size: 0.765058em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-313 {
	font-size: 0.802867em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-314 {
	font-size: 0.8835em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-315 {
	font-size: 0.825058em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-316 {
	font-size: 0.83725em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-317 {
	font-size: 0.813275em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-318 {
	-o-transform: scale(1,1.011419);
	-webkit-transform: scale(1,1.011419);
	-moz-transform: scale(1,1.011419);
	transform: scale(1,1.011419);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.011419,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-319 {
	font-size: 0.774475em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-320 {
	font-size: 0.809108em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-321 {
	-o-transform: scale(1,1.022223);
	-webkit-transform: scale(1,1.022223);
	-moz-transform: scale(1,1.022223);
	transform: scale(1,1.022223);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.022223,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-322 {
	font-size: 0.822742em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-323 {
	font-size: 0.818292em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-324 {
	font-size: 0.807917em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-325 {
	font-size: 0.791208em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-326 {
	font-size: 0.79565em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-327 {
	font-size: 0.816717em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-328 {
	-o-transform: scale(1,1.024632);
	-webkit-transform: scale(1,1.024632);
	-moz-transform: scale(1,1.024632);
	transform: scale(1,1.024632);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.024632,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-329 {
	font-size: 0.814517em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-330 {
	font-size: 0.838667em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-331 {
	font-size: 0.812475em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-332 {
	font-size: 0.823125em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-333 {
	font-size: 0.80645em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-334 {
	-o-transform: scale(1,1.248128);
	-webkit-transform: scale(1,1.248128);
	-moz-transform: scale(1,1.248128);
	transform: scale(1,1.248128);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.248128,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-335 {
	font-size: 0.667667em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-336 {
	font-size: 0.802725em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-337 {
	font-size: 0.815792em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-338 {
	font-size: 0.83775em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-339 {
	font-size: 0.829417em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-340 {
	font-size: 0.810942em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-341 {
	-o-transform: scale(1,1.012484);
	-webkit-transform: scale(1,1.012484);
	-moz-transform: scale(1,1.012484);
	transform: scale(1,1.012484);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.012484,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-342 {
	font-size: 0.823058em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-343 {
	-o-transform: scale(1,1.013048);
	-webkit-transform: scale(1,1.013048);
	-moz-transform: scale(1,1.013048);
	transform: scale(1,1.013048);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.013048,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-344 {
	font-size: 0.8226em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-345 {
	font-size: 0.838333em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-346 {
	-o-transform: scale(1,1.037463);
	-webkit-transform: scale(1,1.037463);
	-moz-transform: scale(1,1.037463);
	transform: scale(1,1.037463);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.037463,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-347 {
	font-size: 0.803242em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-348 {
	font-size: 0.804292em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-349 {
	font-size: 0.794292em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-350 {
	font-size: 0.825242em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-351 {
	-o-transform: scale(1,1.024317);
	-webkit-transform: scale(1,1.024317);
	-moz-transform: scale(1,1.024317);
	transform: scale(1,1.024317);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.024317,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-352 {
	font-size: 0.81355em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-353 {
	-o-transform: scale(1,1.013839);
	-webkit-transform: scale(1,1.013839);
	-moz-transform: scale(1,1.013839);
	transform: scale(1,1.013839);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.013839,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-354 {
	font-size: 0.821958em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-355 {
	font-size: 0.825158em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-356 {
	font-size: 0.71505em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-357 {
	font-size: 0.795792em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-358 {
	font-size: 0.812058em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-359 {
	font-size: 0.843833em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-360 {
	font-size: 0.809642em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-361 {
	font-size: 0.813892em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-362 {
	font-size: 0.810217em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-363 {
	font-size: 0.801925em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-364 {
	-o-transform: scale(1,0.8884151);
	-webkit-transform: scale(1,0.8884151);
	-moz-transform: scale(1,0.8884151);
	transform: scale(1,0.8884151);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.8884151,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"EPPOUE+Times New Roman";
	src:url("p_1_f2.woff") format("woff");
}
.p1-HqZk2NC8-365 {
	font-size: 1.0318em;
	font-family: "EPPOUE+Times New Roman";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-366 {
	line-height: 1.107422em;
}
.p1-HqZk2NC8-367 {
	-o-transform: scale(1,0.90269);
	-webkit-transform: scale(1,0.90269);
	-moz-transform: scale(1,0.90269);
	transform: scale(1,0.90269);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.90269,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-368 {
	font-size: 1.015483em;
	font-family: "EPPOUE+Times New Roman";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-369 {
	font-size: 0.988808em;
	font-family: "EPPOUE+Times New Roman";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-370 {
	-o-transform: scale(1,0.9489467);
	-webkit-transform: scale(1,0.9489467);
	-moz-transform: scale(1,0.9489467);
	transform: scale(1,0.9489467);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9489467,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-371 {
	font-size: 0.965983em;
	font-family: "EPPOUE+Times New Roman";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-372 {
	-o-transform: scale(1,1.011654);
	-webkit-transform: scale(1,1.011654);
	-moz-transform: scale(1,1.011654);
	transform: scale(1,1.011654);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.011654,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-373 {
	font-size: 0.823733em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-374 {
	font-size: 0.7971em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-375 {
	font-size: 0.816608em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-376 {
	font-size: 0.807292em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-377 {
	letter-spacing: -0.0065em;
}

.ie .p1-HqZk2NC8-377 {
	letter-spacing: -0.0867px;
}
.p1-HqZk2NC8-378 {
	-o-transform: scale(1,1.041103);
	-webkit-transform: scale(1,1.041103);
	-moz-transform: scale(1,1.041103);
	transform: scale(1,1.041103);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.041103,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-379 {
	font-size: 0.800433em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-380 {
	-o-transform: scale(1,1.008308);
	-webkit-transform: scale(1,1.008308);
	-moz-transform: scale(1,1.008308);
	transform: scale(1,1.008308);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.008308,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-381 {
	font-size: 0.661173em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-382 {
	font-size: 0.65946em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-383 {
	-o-transform: scale(1,1.104167);
	-webkit-transform: scale(1,1.104167);
	-moz-transform: scale(1,1.104167);
	transform: scale(1,1.104167);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.104167,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-384 {
	font-size: 0.603773em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-385 {
	-o-transform: scale(1,1.004248);
	-webkit-transform: scale(1,1.004248);
	-moz-transform: scale(1,1.004248);
	transform: scale(1,1.004248);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.004248,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-386 {
	font-size: 0.663847em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-387 {
	font-size: 0.667933em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
.p1-HqZk2NC8-388 {
	letter-spacing: -0.0038em;
}

.ie .p1-HqZk2NC8-388 {
	letter-spacing: -0.0403px;
}
.p1-HqZk2NC8-389 {
	-o-transform: scale(1,1.015992);
	-webkit-transform: scale(1,1.015992);
	-moz-transform: scale(1,1.015992);
	transform: scale(1,1.015992);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.015992,0,-0);
	-ms-transform-origin: top left;
}
.p1-HqZk2NC8-390 {
	font-size: 0.656173em;
	font-family: "NICNLB+Arial";
	color: rgba(0, 0, 0, 0);
}
